* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    }
    img {
    max-width: 100%;
    }
    .container-header{
        background-color: black;
        min-height: 90px;
        display: flex;
}
.row-header{
    justify-content: flex-end;
    color: white;
    padding-left: -100px;
}